# Указываем версию синтаксиса Docker Compose
version: '3.8'

# Описываем наши сервисы (контейнеры)
services:

  # Первый сервис - наше веб-приложение
  app:
    image: mdkefir/intro-to-docker:latest

    # Указываем, что Docker-образ для этого сервиса нужно собрать
    # из папки ./app (где лежит наш Dockerfile)
    build: ./app
    # Пробрасываем порт: порт 5000 нашего компьютера будет
    # вести на порт 5000 внутри контейнера app
    ports:
      - "5000:5000"
    # Указываем, что этот сервис зависит от сервиса redis.
    # Docker Compose сначала запустит redis, а потом app.
    depends_on:
      - redis

  # Второй сервис - база данных Redis
  redis:
    # Здесь мы не собираем образ, а берем готовый
    # официальный образ Redis из Docker Hub
    image: "redis:alpine"